:root {
  /* Primary Colours */
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  /* Neutral Colours */
  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);

  /* Body Copy */
  --Body: 15px;

  /* Fonts */
  --Font: Poppins;
  --Light: 200;
  --Regular: 400;
  --SemiBold: 600;
}
* + * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
  color: var(--Very-Dark-Blue);
}
body {
  font-family: var(--Font);
  background-color: var(--Very-Light-Gray);
  font-size: var(--Body);
}
p {
  font-weight: 400;
  color: var(--Grayish-Blue);
}
header {
  padding: 2rem;
  text-align: center;
}
header h1 {
  font-weight: 200;
}
header h3 {
  font-weight: 400;
  padding-top: 1rem;
  color: var(--Grayish-Blue);
}
header .emphasised {
  font-weight: 600;
}
header h3 {
  width: 600px;
  max-width: 90%;
  margin: 0 auto;
}
main {
  margin: 0 auto;
  max-width: 1440px;
}

.card-section {
  display: flex;
  margin: 0 auto;
  max-width: 90%;
}

.card {
  padding: 35px;
  margin: 1rem;
  max-width: 100%;
  height: auto;
  box-shadow: 0px 8px 12px 2px var(--Grayish-Blue);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.card img {
  align-self: flex-end;
  margin-top: 3rem;
}
.card-1 {
  border-top: 4px solid var(--Cyan);
}
.card-2 {
  border-top: 4px solid var(--Red);
}
.card-3 {
  border-top: 4px solid var(--Orange);
}
.card-4 {
  border-top: 4px solid var(--Blue);
}
.card-description {
  max-width: 90%;
}
.card h2,
p {
  margin-bottom: 1rem;
}

.col {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.col-centre {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .card-section {
    flex-direction: column;
    width: 90%;
    max-width: 500px;
  }
}

@media screen and (max-width: 375px) {
  header h1 {
    font-size: 18px;
  }
  header h3 {
    font-size: 14px;
    margin-top: 1rem;
  }
  .card h2 {
    font-size: 16px;
  }
  .card p {
    font-size: 12px;
  }
  .card-section {
    width: 90%;
  }
}
