:root {
  /* Primary Colours */
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  /* Neutral Colours */
  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);

  /* Body Copy */
  --Body: 15px;

  /* Fonts */
  --Font: Poppins;
  --Light: 200;
  --Regular: 400;
  --SemiBold: 600;
}
* + * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--Font);
  background-color: var(--Very-Light-Gray);
}
body * {
  outline: 1px solid green;
}
.card-section {
  display: flex;
  margin: 0 auto;
}

.card {
  outline: 1px solid black;
  padding: 10px;
  width: 300px;
  height: 300px;
}

.card-description {
  width: 75%;
}

.col {
  display: flex;
  flex-direction: column;
}
